{% extends 'main/Main.html' %}

{% load static %}
{% block content %}

<h3>Compare</h3>

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'properties' %}">&#x2190; Continue browsing properties</a>
            <br>
            <br>
        </div>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 2;"><strong>Name</strong></div>
                <div style="flex: 1;"><strong>Beds</strong></div>
                <div style="flex: 1;"><strong>Baths</strong></div>
                <div style="flex: 1;"><strong>Price (INR/month)</strong></div>
                <div style="flex: 1;"></div>
            </div>

            {% for hostel in hostels %}
            <div class="cart-row">
                <div style="flex: 2;">
                    <img class="row-image" src="{{hostel.image.url}}">
                </div>
                <div style="flex: 2;">{{hostel.name}}</div>
                <div style="flex: 1;">{{hostel.beds}}</div>
                <div style="flex: 1;">{{hostel.baths}}</div>
                <div style="flex: 1;">{{hostel.price}}</div>
                <div style="flex: 1;"><button class="btn btn-outline-secondary">Remove</button></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}
