{% extends 'main/Main.html' %}
{% load static %}

{% block content %}


<div class="row">
    {% for hostel in hostels %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{hostel.image.url}}">
        <div class="box-element product">
            <h6><strong>{{hostel.name}}</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to comparison</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right;"><strong>{{hostel.price}} INR</strong></h4>
        </div>

    </div>
    {% endfor %}
    
</div>

{% endblock content %}
